.chat {
  padding: 0;
  overflow-y: scroll;
  list-style-type: none;

  li {
    padding: 0.1875rem 0.3125rem;
  }
  
  &__row-other {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__row-me {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: rgb(244, 241, 65);
      color: #FEFEFE
    }
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    margin: 0;
    padding: 0.5rem;
    flex: 1;
    background-color: rgb(174, 187, 231);
    font-style: bold;
  }
  &__chat {
    margin: 0;
    padding: 1rem 0;
    flex: 9;
  }
  &__message {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    border: 0.0625rem solid #aaa;

    &__input {
      flex: 8;
      border: none;
    }
    &__send-btn {
      flex: 2;
    }
  }
}
.chat-other {
  max-width: 100%;
  // width: 8rem;
}
.chat-other-name {
  padding: 0.125rem;
  font-size: 0.7rem;
}
.chat-other-message {
  padding: 0.25rem 0.375rem;
  background-color: #fbfbfb;
  color: #111;
  font-size: 1rem;
  border-radius: 10px;
  word-break: break-all;
}
.chat-me {
  max-width: 100%;
  // width: 8rem;
}
.chat-me-message {
  padding: 0.25rem 0.375rem;
  background-color: rgb(244, 241, 65);
  color: #111;
  font-size: 1rem;
  border-radius: 10px;
}