<div class="chat-container">
  <div class="chat-container__top">
    <nav>
      <a (click)="handleLeaveClick()" class="chat-container__top__leave-link">&lt;</a>
    </nav>
    <div class="chat-container__top__title">{{roomName}}</div>
    <div class="chat-container__top__members"
      tooltip="tooltip?"
    >👥{{room}}</div>
    <!-- <button class="chat-setting btn btn-xs btn-default"
      (click)="handleSettingClick($event)"
    >
      <i class="bi bi-gear"></i>
    </button> -->
    <button class="chat-explosion"
      (click)="handleExplosionClick()"
    >
      🔥
    </button>
  </div>
  <ul class="chat-container__chat chat">
    <li [ngClass]="isMe(chat.createdBy) ? 'chat__row-me': 'chat__row-other'"
      *ngFor="let chat of chats"
      class="room-item"
    >
      <div class="chat-me"
        *ngIf="isMe(chat.createdBy) else other">
        <div class="chat-me-message">{{chat.message}}</div>
      </div>
      <ng-template #other>
        <div class="chat-other">
          <div class="chat-other-name">{{chat.name}}</div>
          <div class="chat-other-message">{{chat.message}}</div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div class="chat-container__message">
    <input class="chat-container__message__input"
      #message
      (keypress)="onKeypress($event)"
    >
    <button class="chat-container__message__send-btn btn btn-secondary"
      (click)="sendMessage(message.value)"
    >전송</button>
  </div>
</div>
