.sign-up {
  min-width: 18.875rem;
  &__title {
    text-align: center;
  }
  &__btn-wrap {
    padding: 0;
    text-align: center;
  }
  &__link {
    padding: 1rem 0;
    text-align: end;
  }
}
.password-confirm {
  &__validation {
    color: rgba(213, 18, 18, 0.818);
  }
}