<div class="chat container">
  <div class="chat__top">
    <div>채팅</div>
    <div class="chat__top__btn-wrap">
      <button class="btn btn-primary"
        (click)="handleCreateRoomClick()"
      >
        <i class="bi-plus"></i>
      </button>
      <button class="btn btn-success"
        (click)="loadRooms()"
      >&#8635;</button>
    </div>
  </div>
  <ul class="list-group">
    <li class="room-item list-group-item list-group-item-action"
      *ngFor="let room of rooms"
      (click)="enterRoom(room.id)"
    >
      <div class="room-item__title">
        {{room.title}}
      </div>
      <!-- <button class="close align-text-top" aria-label="Close" label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
