<div class="authentication card-body">
  <h5 class="card-title">Sign in to StudyChat</h5>
  <div class="authentication__username">
    <div>username: </div>
    <input class="form-control"
      #username
      (keypress)="handleInput($event)"
    >
  </div>
  <div class="authentication__password">
    <div>password: </div>
    <input class="form-control"
      #password
      (keypress)="handleInput($event)"
    >
  </div>
  <div class="authentication__sign-in">
    <button class="btn btn-primary"
      (click)="handleClickSignIn($event)"
    >Sign In</button>
  </div>
  <div class="authentication__link">
    <span>Have no account? </span>
    <a routerLink="/sign-up">Sign Up</a>
  </div>
</div>
